body {
    max-width: 1140px;
    margin:auto;
    font-family: 'Work Sans' ;
    font-size: 14px;
    background-color: #Fffef8;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0
}
section {
    margin: 50px 0
}

h1{
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C
}

h1 > span {
    font-family: 'Work Sans';
    font-size:10px;
    letter-spacing: 0.1em;
;
}

h2{
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}

.nav-active {
    font-weight: 700;
}

a{
    text-decoration: none;
    color: inherit;
}

nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

nav li img{
    width: 22px;
}

li:hover {
    font-weight: 700;
}

form {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

input {
    height: 50px;
    width: 379px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-top: 10px;
}

label{
    font-size: 14px;
    color: #1D6154;
    font-family: 'Work Sans';
    color : #3D3D3D;
    font-weight: 500;
}

button {
    background-color: #1D6154;
    color: white;
    width: 179px;
    height: 50px;
    border-radius: 60px;
    border: none;
    font-size: 1.2em;
    font-family: 'Syne';
    font-weight: 500;
    cursor: pointer;
    margin-top: 40px;
}

#error-message {
    color: red;
    font-family: 'Work Sans';
    margin-bottom: 10px;
}

.mdp-oublie{
    color : #3D3D3D;
    text-decoration: underline;
}
