header {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  max-width: 1140px;
  width: 100%;
}
header h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne", sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #B1663C;
}
header h1 span {
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
  letter-spacing: 0.1em;
}
header nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
header nav li {
  padding: 0 10px;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav li:hover, header nav li.nav-active {
  font-weight: 700;
}
header nav li img {
  width: 22px;
}

footer {
  background-color: #FFFFFF;
  width: 100%;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  background-color: #FFFEF8;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.edit {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.edit p {
  color: white;
}
.edit i {
  color: white;
}

main {
  flex: 1;
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction article {
  flex: 1;
}
#introduction article h2 {
  font-family: "Syne", sans-serif;
  font-size: 30px;
  color: #1D6154;
  margin-bottom: 1em;
}
#introduction article p {
  margin-bottom: 0.5em;
}

#portfolio {
  margin-top: 50px;
}
#portfolio h2 {
  font-family: "Syne", sans-serif;
  font-size: 30px;
  color: #1D6154;
  text-align: center;
  margin-bottom: 1em;
}
#portfolio .filters {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#portfolio .filters .btn-filter {
  background-color: transparent;
  border: 1px solid #1D6154;
  border-radius: 60px;
  margin-bottom: 40px;
  padding: 10px 35px;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #1D6154;
  cursor: pointer;
}
#portfolio .filters .btn-filter.active, #portfolio .filters .btn-filter:hover {
  background-color: #1D6154;
  color: #FFFFFF;
}
#portfolio .gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
#portfolio .gallery img {
  width: 100%;
}

#contact {
  width: 50%;
  margin: 100px auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  font-family: "Syne", sans-serif;
  font-size: 30px;
  color: #1D6154;
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact form input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact form input[type=submit] {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}
#contact form label {
  margin: 2em 0 1em 0;
}
#contact form textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/*# sourceMappingURL=style.css.map */
