$primary-color: #1D6154;
$secondary-color: #B1663C;
$text-color: #3D3D3D;
$bg-color: #FFFEF8;
$white: #FFFFFF;
$error-color: #FF0000;
$shadow-color: rgba(0, 0, 0, 0.09);


$font-family-main: 'Work Sans', sans-serif;
$font-family-title: 'Syne', sans-serif;
$h2-font-size: 30px;
$h2-color: $primary-color;


$base-font-size: 14px;
$max-width: 1140px;
